@import '@/styles/variables';
@import '@/styles/mixins';

.hero {
  &_flex {
    display: grid;

    @include break_md {
      margin-block: 5rem;
    }

    @include break_lg {
      gap: 10rem;
      align-items: center;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
