@import '@/styles/mixins';
@import '@/styles/variables';

.slogan {
  display: none;
  margin-top: 2rem;
  
  @include break_sm {
    margin-top: 0rem;
    margin-block: 2rem;
  }
  @include break_md {
    display: block;
  }

  h1 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    margin-block: 0.5em;


    @include break_lg {
      font-size: 20px;
    }
    @include break_xl {
      font-size: 24px;
    }
  }

  div {
    width: 95%;
    height: 10px;
    display: none;
    margin: 0 auto;
    border: 1px solid $secundary;
    background-color: $primary-400;

    @include break_sm {
      display: block;
    }
  }
}