@import '@/styles/variables';

.cotizador {
  padding-block: 2rem;


  &_header {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 3rem;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      span {
        margin: 0 auto;
        width: 50px;
        min-width: 50px;
        height: 50px;
        display: grid;
        font-weight: 700;
        font-size: 2rem;
        border-radius: 8px;
        place-items: center;
        margin-bottom: 1.5rem;

        transition: all 0.3s ease-in;
      }

      p {
        margin: 0;
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.8rem;
      }
    }
  }

  &_form {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    select {
      width: 100%;
    }
  }
}

// HEADER CHANGE COLOR

.item_active {
  color: $dark;

  span {
    background-color: $primary-500;
  }
}

.item_inactive {
  color: $letter-gray;

  span {
    background-color: $gray;
  }
}

// INPUT CHANGE COLOR

.input_active {
  position: relative;

  svg {
    top: 10px;
    left: 10px;
    width: 30px;
    fill: $primary;
    position: absolute;
  }

  select {
    border: 2px solid $primary;
    transition: border 0.3s ease-in-out;
  }
}
