
$yellow: #ffde00;
$blue: #1f4e81;
$dark: #272727;
$gray: #e2e2e2;

$primary-50: #fff9da;
$primary-100: #ffedad;
$primary-200: #ffe17d;
$primary-300: #ffd54b;
$primary-400: #FFCB25;
$primary-500: #e6b000;
$primary-600: #b38900;
$primary-700: #806200;
$primary-800: #4e3b00;
$primary-900: #1d1400;

$primary: $yellow;
$secundary: $blue;

$letter-gray: #9d9d9d;
$body-letter-color: $dark;
$input-letter-color: $gray;
$body-font-family: 'Roboto', Arial, Helvetica, sans-serif;
$header-font-family: 'Roboto', Arial, Helvetica, sans-serif;