@import '@/styles/mixins';
@import '@/styles/variables';

.detalleTienda {
  // padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;

  @include break_lg {
    padding-top: 4rem;
  }
  
  &_mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logoM {

    @include break_md {
      display: none;
    }
    
    img {
      width: 100%;
      max-width: 100px;
    }
  }

  &_logoD {
    display: none;
    max-width: 100px;

    @include break_md {
      display: block;
      margin-left: auto;
    }

    img {
      width: 100%;
    }
  }

  &_title {
    margin: 0;
    font-size: 24px;
    margin-block: 2rem;
    font-family: Roboto;

    @include break_lg {
      font-size: 28px;
    }

    span {
      font-family: RobotoBold;
    }
  }
}

.select {
  @include break_md {
    display: none;
  }
}

.content {
  margin-top: 2rem;
}

.tabs {
  display: none;
  
  @include break_md {
    display: flex;
    align-items: center;
  }
  
  &_item {
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-family: RobotoBold;
    display: flex;
    align-items: center;
    background: transparent;
    color: $letter-gray;
    cursor: pointer;
    margin-right: 1rem;

    transition: color 0.3s ease;

    &:hover {
      color: #323232;
    }

    span {
      margin-right: 1rem;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}