@import '@/styles/mixins';
@import '@/styles/variables';

.modal {
  z-index: 900;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  &_overlay {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &_content {
    width: 90%;
    z-index: 1100;
    max-width: 400px;
    overflow: hidden;
    border-radius: 4px;
  }
}

.ingresa,
.registrate {
  padding: 2rem;
  background-color: white;

  @include break_md {
    padding: 3rem;
  }

  h3 {
    // margin: 0;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 3rem;
    
    @include break_md {
      font-size: 2.5rem;
      margin-bottom: 5rem;
    }
  }

  &_form {
    margin: 0;
    gap: 3rem;
    display: grid;
    max-width: 600px;

    // @include break_md {
    //   grid-template-columns: 1fr 1fr;
    // }

    button[type="submit"] {
      @include break_md {
        margin-top: 2rem;
      }
    }
  }
}

.input {
  position: relative;

  button {
    right: 0;
    top: 10px;
    width: 40px;
    fill: gray;
    position: absolute;
  }

  input {
    border: 0;
    width: 100%;
    height: 50px;
    line-height: 5px;
    border-radius: 0;
    border-bottom: 1px solid gray;

    transition: border 0.3s linear;

    &:focus {
      border: 0;
      border-bottom: 1px solid $primary;
    }

    &:focus + label {
      top: -10px;
      left: 0px;
    }
  }

  label {
    top: 14px;
    left: 10px;
    color: gray;
    position: absolute;
    font-weight: 500;

    transition: all 100ms linear;
  }
}

.filled  {
  input  {
    border-bottom: 1px solid $primary;
    
    & + label { 
      top: -10px;
      left: 0px;
    }
  }
}