@import '@/styles/mixins';
@import '@/styles/variables';

.proveedores {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
  padding-block: 2rem;

  &_grid {
    gap: 2rem;
    display:grid;
    align-items:center;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
  }

  &_slogan {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;

    @include break_md {
      font-size: 17px;
    }
    @include break_lg {
      font-size: 19px;
    }
    @include break_xl {
      font-size: 24px;
    }
  }

  &_bread {
    max-height: 30px;
    display: flex;
    font-size: 16px;
    margin-bottom: 1em;
    // font-weight: bold;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    @include break_md {
      font-size: 20px;
      justify-content: flex-start;
    }

    @include break_lg {
      margin-block: 3rem;
    }

    a {
      color: $dark;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    svg {
      width: 20px;
      fill: $primary-500;
      margin-inline: 1rem;
    }
  }

  &_categoria {
    display: grid;
    max-width: 100vw;
    gap: 1rem;
    border: 1px solid #e2e2e2;
    align-items: center;
    background-color: #f4f4f4;
    margin-bottom: 2rem;
    grid-template-columns: 1fr 1fr;

    @include break_md {
      grid-template-columns: 300px 1fr;
    }

    &slider {
      justify-self: center;
      max-width: 40vw;

      @include break_lg {
        max-width: 600px;
      }
      @include break_xl {
        max-width: 850px;
      }

      img {
        max-width: 90%;
      }
    }

    &info {
      border-right: 1px solid #e2e2e2;
      overflow: hidden;
      position: relative;
      padding-bottom: 2rem;
      background: white;
      
      @include break_lg {
        max-height: 100%;
      }
      
      & > div {
        padding: 1rem;
        z-index: 3;
        max-height: 100px;
        margin-bottom: 1rem;
        background-color: $primary;
      }
  
      h3,
      p {
        margin: 0;
        text-align: left;
      }
  
      h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0.3px;
      }
  
      p {
        font-size:12px;
      }
  
      img {
        z-index: 2;
        display: block;
        margin: 0 auto;
        max-width: 80%;
        object-fit: contain;
      }
    }
  }

  &_slideritem {
    background-color: white;
    border: 1px solid #e2e2e2;

    img {
      max-width: 100%;
    }

    & > div {
      display: flex;
      align-items: center;
      flex-direction: column;

      button {
        display: flex;
        font-size: 15px;
        padding: 5px 20px;
        align-items: center;
        letter-spacing: 0.3px;

        span {
          display: none;

          @include break_lg {
            display: block;
          }
        }

        svg {
          width: 25px;
          height: 25px;

          @include break_lg {
            margin-right: 1rem;
          }
        }

        &:first-child {
          svg {
            fill: $primary-500;
          }
        }
        &:last-child {
          svg {
            transform: translateY(-5px);
          }
        }
      }
    }
  }

  &_mostrar {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
