@import '@/styles/variables';

$size_bars: 35px;

.navbar {
  padding: 1rem;
  z-index: 800;
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  background: $primary;
  grid-template-columns: 40px 1fr 40px;

  &_bars {
    width: $size_bars;
    height: $size_bars;

    svg {
      fill: $secundary;
    }
  }

  a {
    margin: 0 auto;

    img {
      width: 80px;
      height: 80px;
    }
  }
}