@import '@/styles/mixins';
@import '@/styles/variables';

.features {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    svg {
      width: 80px;
      min-width: 80px;
      max-width: 80px;
      margin-left: 0;
      fill: $primary-500;
      margin-bottom: 2rem;
      
      @include break_md {
        width: 80px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 1.7rem;
      white-space: normal;
    }
  }

  button {
    width: 50px;
    min-width: 50px;
    max-width: 50px;

    @include break_sm {
      margin-right: 5rem;
    }
    @include break_md {
      margin-right: 0rem;
    }

    svg {
      fill: $primary-500; 
    }
  }
}
